name: Deploy to EC2 via SSH

on:
  push:
    branches: [master]
  

# Define environment variables used throughout the workflow
env:
  AWS_REGION: eu-north-1            # Example region
  EC2_HOST: ec2-13-49-66-43.eu-north-1.compute.amazonaws.com           # Replace with your EC2 Public IP or DNS
  EC2_USER: ubuntu                # Replace with the user for your AMI (e.g., 'ubuntu', 'ec2-user')
  TARGET_DIR: /home/ubuntu/gear_share    # The directory on EC2 where code will be deployed

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        

      - name: Set up SSH Key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
          

      - name: Deploy via rsync
        run: |
          rsync -avz \
            -e "ssh -o StrictHostKeyChecking=no" \
            . \
            ${{ env.EC2_USER }}@${{ env.EC2_HOST }}:${{ env.TARGET_DIR }}
            

      - name: Run remote commands npm install npm build
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ env.EC2_HOST }}
          username: ${{ env.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Deployment complete. Running post-deploy commands..."

            cd ${{ env.TARGET_DIR }}/source/frontend
            npm install
            npm run build
            pm2 stop frontend-prod
            pm2 start npm --name frontend-prod -- run preview

            cd ${{ env.TARGET_DIR }}/source/backend

            ./mvnw spring-boot:stop
            ./mvnw clean package
            ./mvnw compile
            ./mvnw spring-boot:start

