name: Deploy to EC2 via SSH

on:
  push:
    branches: [master]
  

env:
  AWS_REGION: eu-north-1            
  EC2_HOST: ec2-51-21-192-233.eu-north-1.compute.amazonaws.com
  EC2_USER: ubuntu                
  TARGET_DIR: /home/ubuntu/gear_share    

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        

      - name: Set up SSH Key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
          

      - name: Deploy via rsync
        run: |
          rsync -avz \
            -e "ssh -o StrictHostKeyChecking=no" \
            . \
            ${{ env.EC2_USER }}@${{ env.EC2_HOST }}:${{ env.TARGET_DIR }}
            

      - name: Run remote commands npm install npm build
        uses: appleboy/ssh-action@v1.0.1
        with:
          host: ${{ env.EC2_HOST }}
          username: ${{ env.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Deployment complete. Running post-deploy commands..."

            cd ${{ env.TARGET_DIR }}/source/frontend
            npm install
            npm run build
            pm2 stop frontend-prod || true
            pm2 start npm --name frontend-prod -- run preview

            cd ${{ env.TARGET_DIR }}/source/backend

            ./mvnw spring-boot:stop
            ./mvnw clean package
            ./mvnw spring-boot:start

            echo "Deployment to EC2 finished successfully."

